
body {
    background-color: #ffffff;
    @font-face {
            font-family: Helvetica, sans-serif;
            src: url(./fuente/Helvetica\ LT\ Std/) format('truetype');
        }
    }


.intro-garbo {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background: none;
    font-size: 0.9rem;
    padding: 1.5rem;
    cursor: pointer;

}
/* navbar*/
.navbar {
    position: fixed;        /* se mantiene mientras haces scroll */
    top: 38%;               /* mitad de la ventana */
    left: 0;
    width: 100%;
    padding: 1.5rem;
    z-index: 100; /*arriba SIEMPRE*/
    /*position: relative; /*si pones absolute se queda arriba */
    /*top: 50; /*esto deberia dejarte bajarlo, pero no*/
    
}
.navbar a {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background: none;
    border: none;
    font-size: 0.9rem;
    text-decoration: none;
}
.navbar button {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}

body#archivoPanel-open .navbar button { /*cambio para contraste*/
  color: white;
}



/*flow*/
.flow {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%; /* ocupa todo el ancho */
  height: 400px; /* tamaño banda horizontal */
  overflow: hidden;
  z-index: 5;
  padding-bottom: 90px;
}

.flow-track {
  display: flex;
  width: max-content;
  height: 100%;
  animation: scroll 22s linear infinite; /* su velocidad natural */
}

.flow-track img {
  height: 100%;
  width: auto;
  /*margin-right: 3rem;*/
  object-fit: cover;
}

/*al desplegar panel archivo (era para blurry, nada)
    #flowTrack.oculto {
    opacity: 0.1;   /* Si lo pones a 0 el efecto blurry no funciona, porque necesita algo detrás
    pointer-events: none;
    animation-play-state: paused;
}*/

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/*archivo panel full*/
#archivoPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: #000000; /*no sabes si en blanco o negro*/
  color: #ffffff;
  /*backdrop-filter: blur(10px); esta cosa mola mogollón, fondo "translucido" en lugar de opaco*/

  transform: translateY(100%);
  transition: transform 0.6s ease;
  z-index: 20;

  overflow-y: auto;   /*ojo, SIN esto no hay barrita con scroll */
}

#archivoPanel.desplegar {
  transform: translateY(0);
}

  .archivo-columna { /*conjunto items*/
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    padding: 0.8rem;
  }

  .archivo-proyecto { /*cada item*/
    display: grid;
    grid-template-columns: 300px auto; /* con esto cambias la distancia entre img y texto*/
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
          .archivo-imagen {   /*contiene img*/ 
            width: 100%;
            position: relative;
          }
        
          .archivo-texto {  /*contiene texto*/
          max-width:420px;
          display: flex;             /* convierte el contenedor en flex */
          flex-direction: column;    /* mantiene texto en columna, pero no te deja mover la flecha*/
          Justify-content: space-between; /* CLAVE para separar */
          height: 100%; /* opcional: para ocupar todo el alto del artículo */
          position: relative;
        }
                /*.archivo-num { fuera, no me va
                font-size:10px;
                opacity:0.4;
                }*/
                .archivo-texto h2 {
                font-size:12px;
                font-weight:500;
                line-height:1.4;
                }
                .archivo-texto p {
                font-size:11px;
                line-height:1.6;
                opacity:0.7;
                }
                .un-vistazo {
                display: flex;             
                align-items: center;       /*centra verticalmente */
                justify-content: flex-start; /* alinea flecha al inicio del link */
                margin-top: 16px;       
                margin-left: 30;
                }
                
                  .flecha { /* más peque pero mantiene proporciones */
                        color: #ffffff; 
                        width: 16px; 
                        height: 16px; 
                  }
                  .flecha:hover {
                    opacity:0.6;
                  }                                  
                
#infoBar {
  background: #ffffff;
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: 400;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  padding: 30;
  z-index: 10; /* asi queda por debajo de panel cuando salga, ni ocultar ni ostias*/
}

          #infoBar p {
            font-size: 11px;
            line-height: 1.5;
            padding: 1.5rem;
            padding: 10;
          }

          .info-left {
            font-size: 11px;
          }
          .info-center {
            max-width: 520px;
            margin: 0 auto;
            font-size: 11px;
          }

          .info-right {
            display: flex;
            align-items: center;
            gap: 16px;
            justify-content: flex-end;
          } */

/*al desplegar panel bye bye info bar
    #infoBae.ocultar {
     display: none !important;
}*/


/*carrousel
    .flow {
    height: 100vh;
    overflow: hidden;
    }

    .carousel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    }

    .carousel-track {
    display: flex;
    height: 100%;
    width: max-content;
    animation: scroll 20s linear infinite; /* esto es velocidad a la que deslizan sin interaccion
    }

    .carousel-track img {
    height: 100%;
    width: auto;
    object-fit: cover;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    } */

/*archivo panel 1
#archivoPanel {
  position: fixed;
  inset: 0;
  background: white;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(.4,0,.2,1);
  z-index: 1500;
  padding: 6rem 3rem;
}

#archivoPanel.open {
  transform: translateY(0);
}

#archivoPanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#archivoPanel li {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}*/





















/*de los inicios*/

/*
.nav-bar {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 2%;
    color: black;
}*/


/* footer*/
footer {
    font-size: 0.60rem;
    letter-spacing: 0.5px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 2%;
    color: black;
}

/*footer a:hover {
  color: rgb(157, 161, 164);
}*/